body {
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
}

.wrapper {
    border: 2px outset grey;
    border-radius: 5px;
    padding: .5em .5em .5em 1em;
    margin: 1em .6em 1em 0em;
    background-color: white;
}



#content article:first-of-type {
    margin-top: 1em;
}

#content article {

    background-color: white;
}

#content article h3 {
    font-size: 1.45em;
}


#content article img {
    float: left;
    height: 175px;
    width: auto;
    margin: 10px 10px 0 0;
}

#sidebar #recent_posts ul li {
    margin-bottom: 10px;
}



#sidebar aside {
    border: 2px outset grey;
    margin: 1em 0 1em -1.5em;
    padding: .5em 1em 0 1em;
    border-radius: 5px;
    background-color: white;
}



aside ul li {
    margin-left: 5px;
}

article ul li,
article ol li {
    margin-left: 20px;
}



@media only screen and (max-width: 1100px) {

    
    aside {
        padding-bottom: 0;
    }
    
    aside {
        padding: .5em 1em 0 1em !important;
    }
}


@media only screen and (max-width: 991px) {
 
    .wrapper {
        margin-right: 0;
        margin-bottom: 0;
    }
   
 
    .more_posts {
        margin-top: 1em;
    }
    
    aside {
        margin-left: 0 !important;
    }
    
    #post-list h4 {
        font-size: 1.25em;
    }
    
    #post-list h5 {
        font-size: 1.15em;
    }
}


@media only screen and (max-width: 768px) {
    #content article h3 {
        font-size: 1.25em;
    }
    
    #post-list h4 {
        font-size: 1.25em;
    }
}
    
    
@media only screen and (max-width: 576px) {
   
  
    
    
    
    #content article img {
        float: none;
        margin-bottom: 10px;
    }
}


@media only screen and (max-width: 400px) {
    #content article img {
        height: auto;
        width: 100%;
    }
}