    <header>
        <h1>hckrieger.com</h1>
        <nav>
            <ul>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'blog_home' %}">Blog</a></li>
                <li><a href="{% url 'websites' %}">Websites</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li> 
            </ul>
        </nav>
      </header>
    <div id="dropdown">
         <ul>
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'blog_home' %}">Blog</a></li>
            <li><a href="{% url 'websites' %}">Websites</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li> 
        </ul>       
    </div>