body {

    display: -ms-grid;
    display: grid; 
    grid:
        [header-start]  "header     header    header    header"        70px
        [dropdown-start] "dropdown  dropdown  dropdown  dropdown"  min-content
        [content-start] "lcontainer main      sidebar   rcontainer"    auto
        [footer-start]  "footer     footer    footer    footer"        80px 
        / [lcontainer] auto [main] 814.285714286px [sidebar] 325.714285714px [rcontainer] auto;
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    background
}


header {
    grid-area: header;
}

.wrapper {
    border: 2px outset grey;
    border-radius: 5px;
    padding: 1em;
  background: url("background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}

#content {
    grid-area: main;
}

#content article:first-of-type {
    margin-top: 1em;
}

#content article {

    margin: 0 .5em 1em .5em;
    background-color: white;
}

#content article img {
    float: left;
    height: 175px;
    width: auto;
    margin: 10px 10px 0 0;
}

#sidebar {
    grid-area: sidebar;
}

#sidebar #recent_posts ul li {
    margin-bottom: 10px;
    
}



#sidebar aside,
section#post-list {
    border: 2px outset grey;
    padding: 1em;
    margin: 1em .5em 1em .5em;
    border-radius: 5px;
    background-color: white;
}

.more_posts {
    margin-left: .5em;
    margin-bottom: 1em;
    border: 1px solid black;
}

.more_posts {
    border: 1px solid black;
}

.container:first-of-type {
    grid-area: lcontainer;
}

.container:last-of-type {
    grid-area: rcontainer;
}

footer {
    grid-area: footer;
}

aside ul li,
article ul li,
article ol li {
    margin-left: 20px;
}




@media only screen and (max-width: 1200px) {
    body {
        grid-template-columns: [lcontainer] auto [main] 3fr [sidebar] 1.15fr [rcontainer] auto;
    }
}

@media only screen and (max-width: 1100px) {
    body {
        grid-template-columns: [lcontainer] 10px [main] 3fr [sidebar] 1.2fr [rcontainer] 10px;
    }
}

@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 992px) {
     body {
        grid:
            [header-start]  "header"        70px
            [dropdown-start] "dropdown"  min-content
            [content-start] "main"          auto
            [sidebar-start] "sidebar"       auto
            [footer-start]  "footer"        80px 
            / [main] auto;
    }   
    
    .container {
        display: none;
    }
    
    .more_posts {
        margin: 0 .75em;
    }
    
    #sidebar aside,
    .more_posts,
    #content article {
        margin: 1em;
    }
    
    section#post-list {
        margin: 1em;
    }
    
    footer,
    .more_posts,
    #sidebar aside {
        margin-top: 0;
    }
    
    #post-list h4 {
        font-size: 1.25em;
    }
    
    #post-list h5 {
        font-size: 1.15em;
    }   

    

}

@media only screen and (max-width: 768px) {
 
}
    
    
@media only screen and (max-width: 600px) {
    #sidebar aside,
    .more_posts,
    #content article {
        margin: .75em;
    }
    
    
    
    .more_posts {
        margin-bottom: 0 .75em;
    }
    
   
    .more_posts,
    #sidebar aside {
        margin-top: 0;
    }
    
    #content article img {
        float: none;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 500px) {

}

@media only screen and (max-width: 400px) {
    #content article img {
        height: auto;
        width: 100%;
    }
}