body {
    font-family: 'Roboto Condensed', sans-serif;
}


.wrapper {
    border: 2px outset grey;
    border-radius: 5px;
    padding: 1em;
    background-color: white;
}

#content article:first-of-type {
    margin-top: 1em;
}

#content article {

    margin: 0 -.375em 1em .5em;
    background-color: white;
}

#content article img {
    float: left;
    height: 175px;
    width: auto;
    margin: 10px 10px 0 0;
}

#sidebar #recent_posts ul li {
    margin-bottom: 10px;
}



#sidebar aside,
section#post-list {
    border: 2px outset grey;
    padding: 1em;
    margin: 1em .5em 1em -.375em;
    border-radius: 5px;
    background-color: white;
}

.more_posts {
    margin-left: .5em;
    margin-bottom: 1em;
    border: 1px solid black;
}

.more_posts {
    border: 1px solid black;
}



aside ul li,
article ul li,
article ol li {
    margin-left: 20px;
}






@media only screen and (max-width: 1000px) {
 
    
    .container {
        display: none;
    }
    
    .more_posts {
        margin: 0 .75em;
    }
    
    #sidebar aside,
    .more_posts,
    #content article {
        margin: 1em;
    }
    
    section#post-list {
        margin: 1em;
    }
    
    footer,
    .more_posts,
    #sidebar aside {
        margin-top: 0;
    }
    
    #post-list h4 {
        font-size: 1.25em;
    }
    
    #post-list h5 {
        font-size: 1.15em;
    }
}

@media only screen and (max-width: 900px) {
    

    

}

@media only screen and (max-width: 768px) {
 
}
    
    
@media only screen and (max-width: 600px) {
    #sidebar aside,
    .more_posts,
    #content article {
        margin: .75em;
    }
    
    
    
    .more_posts {
        margin-bottom: 0 .75em;
    }
    
   
    .more_posts,
    #sidebar aside {
        margin-top: 0;
    }
    
    #content article img {
        float: none;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 500px) {

}

@media only screen and (max-width: 400px) {
    #content article img {
        height: auto;
        width: 100%;
    }
}