section#contact {
    background-color: tan;
    border: 1px solid black;
    border-radius: 2.5px;
    display: block;
    margin: 1em .5em 1em .5em;
    padding: 1em;
}

section#contact form {
    width: 100%;
    padding: 0;
    border-top: 1px solid white;
}

section#contact h2 {
    text-align: left;
}