{% extends 'blog/base.html'%}

{% block title %}
Blog - {{ block.super }}
{% endblock title %}

{% block content %}
    {% for post in posts %}
            <article class="wrapper">
               <h2><a href="{% url 'single_post' post.slug %}">{{ post.title }}</a></h2>
               <h3><strong>{{ post.subtitle }}</strong></h3>
               <h4>{{ post.date_published }}</h4>
               <h4>Written by {{ post.author }}</h4>
              <img src="{{ post.image.url }}">
              {{ post.body | truncatewords_html:150 | safe }}
               
              <a class="btn btn-sm btn-success read_more" href="{% url 'single_post' post.slug %}">Read More</a>
            </article>
    {% endfor %}
    
    <a class="btn btn-md btn-primary more_posts" href="{% url 'post_list' %}">More Posts</a>
  
{% endblock content %}