{% extends 'blog/base.html'%}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    Contact - {{ block.super }}
{% endblock title %}

{% block styles %}
    {{ block.super }}
    <link href="{% static 'contact/stylesheet.css' %}" type="text/css" rel="stylesheet">
{% endblock styles %}

{% block content %}
<section id="contact_page" class="wrapper" style="height: 500px;">
	<h2>Contact Me</h2>
	<h3><strong>Email: </strong><a href="mailto:hunterk31@hotmail.com" target="_top">hunterk31@hotmail.com</a></h3>
    <h4>Email me, I would love to hear from you!</h4>

</section>
  
{% endblock content %}